.App {
  text-align: center;
}

a{
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  @keyframes identifier {
    0%{
      transform:translate()
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes bounce {
  0%,30%,50%,60%{
    transform: translateY(0);
  }
  90%{
    transform: translateY(50%);
  }
  100%{
      transform: translateY(3px);
  }
}
